.logo_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000428;
}
.logo_footer img {
  width: 18.75rem;
}

.redes_sociales {
  margin: 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.redes_sociales li {
  background-color: #000428;
  list-style: none;
  text-decoration: none;
  margin: 0.625rem;
}
.redes_sociales a {
  padding: 0.3125rem;
}
.redes_sociales img {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #032552;
  font-family: "Quicksand", sans-serif;
}

main {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen_central {
  width: 500px;
  height: 500px;
}

.card-deck {
  background-color: #559cf9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  max-width: 30%;
  height: 480px;
  background-color: #C9D6FF;
  border-radius: 40px;
  box-shadow: 0rem 5px 10px #000428;
  margin: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card img {
  margin-top: 5%;
  max-width: 40%;
}

@media (max-width: 771px) {
  .card-deck {
    background-color: #559cf9;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .card {
    max-width: 100%;
    height: 480px;
    background-color: #C9D6FF;
    border-radius: 40px;
    box-shadow: 0px 5px 10px #000428;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.contenedor_central_derecholibre {
  justify-content: center;
  align-items: center;
}

.contenedor_central_consulta {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 40% 40%;
}

@media screen and (max-width: 1024px) {
  .contenedor_central_consulta {
    grid-template-columns: 80% 0%;
  }
  .advertencia {
    display: none !important;
  }
}
.contenedor_central_respuesta {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 40% 40%;
}

@media screen and (max-width: 1024px) {
  .contenedor_central_respuesta {
    grid-template-columns: 80% 0%;
  }
  .advertencia1 {
    display: none !important;
  }
}
.contenedor_central_estadisticas {
  background-color: #0a71f7;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .contenedor_central_estadisticas {
    height: auto;
    display: grid;
  }
}
.tarjeta {
  position: relative;
  width: 18.75rem;
  height: 25rem;
  margin: 3.125rem;
}
.tarjeta .aspecto {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1.25rem;
  overflow: hidden;
  transition: 0.5s;
}
.tarjeta .frente {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0rem 0.3125rem 0.625rem #000428;
}
.tarjeta .frente h3 {
  color: #000428;
  width: 100%;
  height: 30%;
  font-size: 1.5625rem;
  margin-top: 1.25rem;
  position: absolute;
  text-align: center;
}
.tarjeta .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tarjeta .trasera {
  transform: perspective(37.5rem) rotateY(180deg);
  background-color: #C9D6FF;
  padding: 1.25rem;
  color: #000428;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.tarjeta .trasera p {
  position: absolute;
  text-align: left;
  justify-content: center;
  font-size: 1rem;
}
.tarjeta:hover .frente {
  transform: perspective(37.5rem) rotateY(180deg);
}
.tarjeta:hover .trasera {
  transform: perspective(37.5rem) rotateY(360deg);
}

/*# sourceMappingURL=style.css.map */
